* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.logo-text{
    color: red;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    padding: 25px 70px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.para p {
    text-align: center;
    font-size: 25px;
    width: 80%;
    margin: auto;
}
.heart{
    position: relative;
}
.heart #percentage {
    position: absolute;
    top: 111px;
    color: #ffff;
    left: 33%;
    font-size: 45px;
}
.text-field input{
    padding: 10px;
    box-shadow: 20px 20px 50px gray;
    border: none;
    outline: none;
    border-radius: 20PX;
}
/* .input1{
    margin-left: 110px;
} */
#your-name{
    position: absolute;
    top: 75px;
    right: 39%;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}
#crush-name{
    position: absolute;
    top: 190px;
    right: 39%;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
}
#calculate-btn{
    padding: 10px 31px;
    border-radius: 20px;
    color: #fff;
    /* background: crimson; */
    background: linear-gradient(210deg, red, orange);
    font-weight: 600;
    border: none;
    cursor: pointer;
}
#calculate-btn:hover{
    border: 2px solid crimson;
    background: transparent;
    color: crimson;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .flex{
        flex-direction: column;
    }
    .text-field input{
        width: 300px;
    }
    .heart img {
        width: 350px;
    }
    .input1{
        margin-top: 50px;
    }
    #input2{
        margin-bottom: 20px;
    }
    .heart #percentage{
        top: 125px;
        left: 40%;
    }
    #your-name{
        top: 80px;
    }
    .button{
        margin-bottom: 100px;
    }
  }